#menu {
    display: flex;
}
#menu a {
    margin-right: 5px;
	padding: 10px;
	font: 15px Arial;
	text-decoration: none;
	color: #930aa5;
	border: 1px solid #7213ca;
	background-color: white;
}
#menu a:hover, #menu a.active {
	color: blue;
	border: 1px solid blue;
	background-color: #F5F6FA;
}